{% extends "layout.html" %}

{% block title %}
    Fruits
{% endblock %}

{% block main %}
     <div>
        <br>
        <center><h2><a href="/" class="category">Select the category</a></h2></center>
        <br>
        {% for category in category if category.name in ['Fruits','Vegetables','Pulses','Cereals','Meat and Fish'] %}
            <h2>{{ category.name.capitalize() }}</h2>
            <h5>{{ category.description }}</h5>
        {% endfor %}
        <br>
        <center>
        {% for product in product %}
        <div class="row row-cols-2 row-cols-md-1 g-6">
            <div class="col">
                <div class="card">
                  <img src="static/products/{{ product.name }}.jpg" class="card-img-top" alt="items">
                  <div class="card-body-1">
                    <h3 class="card-title"><a href="/{{ product.name }}">{{ product.name }}</a></h3>
                    <h4>Rs.{{ product.price }}/kg</h4>
                  </div>
                </div>
              </div>
        </div>
        <br>
        {% endfor %}
        </center>
     </div>
{% endblock %}