{% extends "layout.html" %}
{% block title %}
Paycheck
{% endblock %}
{% block main %}
<div>
    <center>
        {{ message }}
        <br>
        You need to pay ₹{{ sum }}
    </center>
    <br>
    <form action="/paycheck" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="paycheck" name="paycheck" placeholder="ENTER THE AMOUNT HERE" type="number" required >
    </div>
    <button type="submit" class="btn btn-secondary">Buy now</button>
    </form>
</div>
{% endblock %}